 <div class="container-fluid row align-items-center" id="cont-hist">
        <div class="col-sm-2" id="icon">
          <img src="img/icon.webp" alt="..." class="img-fluid">
        </div>
        <div class="col-3 hist">
          <h2>
            Nuestra historia:
          </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam ex reprehenderit pariatur minus
            rerum,
            recusandae exercitationem blanditiis possimus ab ipsum aliquid .</p>
        </div>
      </div>