<div class="container-fluid col-sm-3" id="pres">
        <h1>
          Quienes somos:
        </h1>
        <p>
          Somos una organizacion sin fines de lucro que busca informar sobre los gatos, sus cuidados y como adiestrarlos
        </p>
      </div>