<div class="container-fluid">
        <div class="row py-4" id="nov">
          <div class="col-md-6 py-3">
            <h2>
              Novedades:
            </h2>
            <ul id="listanov">
              <li><a href="#" class="btn-primary" data-bs-toggle="modal" data-bs-target="#mod"><img src="img/lata.jpg">
                  La
                  mejor marca de alimento para tu mascota</a></li>
              <li><a href="#"><img src="img/vacunas.jpg"> El tiempo recomendado para cada vacuna</a>
              <li><a href="#"><img src="img/adiestrado.jpg"> El truco para que tu gato entienda sus errores</a></li>
            </ul>
          </div>